{% extends 'bootstrap_3_layout.html.twig' %}

{%- block lch_form_footer -%}
    {{ block('form_errors') }}
{%- endblock lch_form_footer -%}


{%- block form_widget -%}
    <div class="col-xs-12 col-md-10">
        {{- parent() -}}
        {{- block('lch_form_footer') -}}
    </div>
{%- endblock form_widget -%}

{% block form_row -%}
    <div class="col-xs-12 no-gutter">
        {#{{- parent() -}}#}
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        <hr class="col-xs-10 col-xs-offset-1">
    </div>

{%- endblock form_row %}

{% block form_label -%}
    <div class="col-xs-12 col-md-2">
        {{- parent() -}}
        {% if(form.vars.attr.helper is defined) %}
            <p class="helper"><i class="glyphicon glyphicon-question-sign"></i>{{ form.vars.attr.helper|trans()|raw }}</p>
        {% endif %}
    </div>
{%- endblock form_label %}


{%- block collection_widget -%}
    {% spaceless %}
        <div class="col-xs-12 col-md-10">
            {# For Symfony Collection Usage : https://github.com/ninsuo/symfony-collection #}
            {% if prototype is defined %}
                {#{% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}#}
                {% set attr = attr|merge({'data-prototype': block('collection_item_widget')}) %}
                {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
            {% endif %}
            {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
            {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
            {% set attr = attr|merge({'data-name-prefix': full_name}) %}
            {{ block('form_widget') }}
            {#{{- block('lch_form_footer') -}}#}
        </div>
    {% endspaceless %}
{%- endblock collection_widget -%}

{% block collection_item_widget %}
    <div class="col-xs-12 no-gutter">
        {#{{- parent() -}}#}
        {{- form_label(prototype) -}}
        {{- form_widget(prototype) -}}
        <div class="collection-actions col-xs-12 text-right">
            <a href="#" class="btn btn-default collection-up"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-default collection-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" class="btn btn-default collection-add"><i class="glyphicon glyphicon-plus"></i></a>
            <a href="#" class="btn btn-default collection-remove"><i class="glyphicon glyphicon-minus"></i></a>
            <a href="#" class="btn btn-default collection-duplicate"><i class="glyphicon glyphicon-duplicate"></i></a>
        </div>
        <hr class="col-xs-10 col-xs-offset-1">
    </div>
{% endblock collection_item_widget %}

{%- block textarea_widget -%}
    <div class="col-xs-12 col-md-10">
        {{- parent() -}}
        {{- block('lch_form_footer') -}}
    </div>
{%- endblock textarea_widget -%}

{%- block choice_widget -%}
    <div class="col-xs-12 col-md-10">
        {{- parent() -}}
        {{- block('lch_form_footer') -}}
    </div>
{%- endblock choice_widget -%}

{%- block submit_widget -%}
    {%- set attr = attr|merge({'class': 'btn-primary' })|merge({'icon': attr.icon|default('ok') }) -%}
    {{- parent() -}}
{%- endblock submit_widget -%}

{%- block number_widget -%}
     {#type="number" doesn't work with floats #}
    {%- set type = type|default('text') -%}
    {{ block('form_widget') }}
{%- endblock number_widget -%}

{%- block integer_widget -%}
    {#{%- set type = type|default('number') -%}#}
    {{ block('form_widget') }}
{%- endblock integer_widget -%}

{%- block money_widget -%}
    {{ money_pattern|replace({ '{{ widget }}': block('form_widget') })|raw }}
{%- endblock money_widget -%}

{%- block url_widget -%}
    {%- set type = type|default('url') -%}
    {{ block('form_widget') }}
{%- endblock url_widget -%}

{%- block search_widget -%}
    {%- set type = type|default('search') -%}
    {{ block('form_widget') }}
{%- endblock search_widget -%}

{%- block percent_widget -%}
    {%- set type = type|default('text') -%}
    {{ block('form_widget') }} %
{%- endblock percent_widget -%}

{%- block password_widget -%}
    {%- set type = type|default('password') -%}
    {{ block('form_widget') }}
{%- endblock password_widget -%}

{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    {{ block('form_widget') }}
{%- endblock email_widget -%}

{%- block range_widget -%}
    {% set type = type|default('range') %}
    {{- block('form_widget') -}}
{%- endblock range_widget %}


{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if attr['icon'] is defined %}
            <i class="glyphicon glyphicon-{{ attr['icon'] }}"></i>
        {% endif %}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock %}


{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="errors alert alert-danger col-xs-12 col-md-6">
            <ul class="list-unstyled">
                {%- for error in errors -%}
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}
