{% extends '@LchAdmin/base/base.admin.list.html.twig' %}

{% block bodyclasses %}{{ parent() }} media-library{% endblock bodyclasses %}

{% block stylesheets %}
    {{ parent() }}
    {# Medias #}
    <link rel="stylesheet" href="{{ asset('bundles/lchmedia/css/media.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/lchadmin/css/select2.min.css') }}" type="text/css" />
{% endblock stylesheets %}

{% if popinMode == false %}
    {% block title_classes %}col-xs-12 col-sm-6{% endblock title_classes %}
{% endif %}

{% block title %}{{ "lch.admin.media.library.title"|trans() }}{% endblock title %}
{% block title_right %}
    {% if popinMode == false %}
        {% spaceless %}
            <div id="media-type-selector" class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <select class="form-control">
                        {% for slug, mediaType in mediaTypes %}
                            <option {% if(type == slug) %}selected="selected"{% endif %} value="{{ slug }}">{{ mediaType.name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock title_right %}

{% block content %}
    {% if popinMode == false %}
        <div id="media-form-container">
            {{ render(controller('LchMediaBundle:Media:add', {'request': app.request, 'type': type})) }}
        </div>
    {% else %}
        <input type="hidden" id="popin-mode" value="{{ popinMode }}"/>
    {% endif %}
    <div id="media-list-container" class="library-parent">
        {{ render(controller('LchMediaBundle:Media:list', {'request': app.request, 'type': type, 'libraryMode': true})) }}
    </div>

    {% if popinMode == false %}
        <div id="details-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ "lch.admin.media.library.detail_modal.title"|trans() }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-danger hidden"></p>
                        <ul id="media-details"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" data-action="delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Supprimer</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
     {# Medias #}
    <script src="{{ asset('bundles/lchmedia/js/isotope.js') }}"></script>
    <script src="{{ asset('bundles/lchmedia/js/media-library.js') }}"></script>
    <script src="{{ asset('bundles/lchmedia/js/media-search.js') }}"></script>

    {% if popinMode == false %}
        {# Collections #}
        <script src="{{ asset('bundles/lchadmin/js/select2.min.js') }}"></script>
    {% else %}
        {# This needs to be inline so far TODO put it in media-library #}
        <script>
            // Handle choosing media
            $('.media-list').on('click', '.media', function() {
                {{ app.request.get('CKEditorFuncNum')|escape('js') }}
                window.opener.CKEDITOR.tools.callFunction({{ app.request.get('CKEditorFuncNum')|escape('js') }}, $(this).attr("data-url"));
                window.close();
            });
        </script>
    {% endif %}
{% endblock javascripts %}
