<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}
            <meta name="robots" content="noindex">
        {% endblock meta %}

        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('bundles/lchadmin/css/admin-main.css') }}" type="text/css" />
        {% endblock %}
        {% block top_javascript %}
            <script
                    src="//code.jquery.com/jquery-3.1.1.min.js"
                    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                    crossorigin="anonymous"></script>
        {% endblock top_javascript %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclasses %}admin{% endblock %}" {% block bodyattributes %}data-route="{{ app.request.attributes.get('_route') }}"{% endblock %}>
        <div class="container-fluid">
            {% block body %}
                <div id="content" class="row">
                    <div id="main-menu" class=" col-xs-2 col-sm-4 col-md-2">
                        {% block main_menu %}
                            {{ knp_menu_render('main', {depth: 3}) }}
                        {% endblock main_menu %}
                    </div>
                    <div id="page-content" class="col-xs-10 col-sm-8 col-md-10 no-gutter">
                        <header id="horizontal-nav" class="col-xs-12">
                            <div class="row">
                                {% block navbar %}
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#">Project name</a>
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href="#about">About</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li class="dropdown-header">Nav header</li>
                                                    <li><a href="#">Separated link</a></li>
                                                    <li><a href="#">One more separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">

                                            <li class="helloUser">
                                                <span>{{ "admin.welcome"|trans }}, <br></span><strong>{{ app.user.username }}</strong>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{path('user_admin_password_reset')}}">{{ "admin.user.change-password"|trans }}</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="{{ path('user_admin_logout') }}" class="text-danger">{{ "admin.user.logout"|trans }}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                {% endblock navbar %}
                            </div>
                        </header>
                        <div id="admin-screen" class="col-xs-12">
                            <h1 class="{% block title_classes %}{% endblock title_classes %}"><i class="glyphicon glyphicon-{% block page_icon %}{% endblock page_icon %}"></i>{% block h1 %}{{- block('title')  -}}{% endblock h1 %}</h1>
                            {% block title_right %}{% endblock title_right %}
                            {% for label, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                {% if label == 'error' %}
                                <div class="alert alert-danger">
                                    {% else %}
                                    <div class="alert alert-{{ label }}">
                                        {% endif %}
                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ flash|trans|raw }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            {% endblock body %}

            {% block javascripts %}
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="{{ asset('bundles/lchadmin/js/jquery.admin.main.js') }}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
