{% extends '@LchAdmin/base/base.admin.html.twig' %}
{% form_theme form 'LchAdminBundle::lch_bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {# Media #}
    <link rel="stylesheet" href="{{ asset('bundles/lchmedia/css/media.css') }}" type="text/css" />

    {# Select 2 #}
    <link rel="stylesheet" href="{{ asset('bundles/lchadmin/css/select2.min.css') }}" type="text/css" />
    {# CKEditor #}
    <link rel="stylesheet" href="{{ asset('bundles/ipc/css/ckeditor/css/ckeditor.css') }}" type="text/css" />
{% endblock stylesheets %}

{% block pre_content %}
    {{ parent() }}
    <div id="sticky-go-to-bottom" data-toggle="tooltip" data-placement="left"  title="Descendre en bas de page" class="sticky-button sticky-button-bottom">
        <span class="glyphicon glyphicon-arrow-down" ></span>
    </div>
    <div id="sticky-go-to-top" data-toggle="tooltip" data-placement="left"  title="Remonter en haut de page" class="sticky-button sticky-button-top">
        <span class="glyphicon glyphicon-arrow-up" ></span>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Medias #}
    <script src="{{ asset('bundles/lchmedia/js/isotope.js') }}"></script>
    <script src="{{ asset('bundles/lchmedia/js/jquery.media.js') }}"></script>
    <script src="{{ asset('bundles/lchmedia/js/media-search.js') }}"></script>

    {# Select 2 #}
    <script src="{{ asset('bundles/lchadmin/js/select2.min.js') }}"></script>

    {# SEO #}
    <script src="{{ asset('bundles/lchseo/js/seo.js') }}"></script>

    {# Collections #}
    <script src="{{ asset('bundles/lchadmin/js/jquery.collection.js') }}"></script>
{% endblock javascripts %}